doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style/styles.css")
        title best horror
    body 
        header
            h1 Best Horror Scenes
            h3 
                | An ever growing collection featuring some of the best scenes in horror. 
            p 
                |“Best Horror Scenes” is a collection of scenes I feel are some of the most affecting in horror. 
                |Some may be simple black cat scares, others may be more subdued or nuanced. Many come from films 
                |that aren't necessarily “horror” but have elements or threads of horror.
            nav
                ul
                    li Newsletter
                    li Suggest a Scene
                    li YouTube
                    li Twitter
                    li Contact
                    li RSS
                    li Letterboxd
            p
                | Best Horror Scenes is a love letter to the Horror film genre by Brandon Durham.
                | Most film clips contain major spoilers, and it is recommended you don’t watch the clip if you plan on seeing the film.
        main 
            section.movie
               .wrapper 
                    div.movie__header
                        h4
                            | Sisters (1972)
                        h5 
                            | Directed by Brian De Palma
                    img(src='img/image_1.jpg')
        main 
            section.movie
               .wrapper 
                    div.movie__header
                        h4
                            | Sisters (1972)
                        h5 
                            | Directed by Brian De Palma
                    img(src='img/image_1.jpg')
        main 
            section.movie
               .wrapper 
                    div.movie__header
                        h4
                            | Sisters (1972)
                        h5 
                            | Directed by Brian De Palma
                    img(src='img/image_1.jpg')                 
        main 
            section.movie
               .wrapper 
                    div.movie__header
                        h4
                            | Sisters (1972)
                        h5 
                            | Directed by Brian De Palma
                    img(src='img/image_1.jpg')
        main 
            section.movie
               .wrapper 
                    div.movie__header
                        h4
                            | Sisters (1972)
                        h5 
                            | Directed by Brian De Palma
                    img(src='img/image_1.jpg')

